<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-M62VCTMBT0"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-M62VCTMBT0');
        </script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Content-Type" content="UTF-8">
        <meta name="Content-Language" content="fr">
        <meta name="Description" content="Tout d'abord, j'ai fait une reconversion professionnelle dans le domaine du web il y a 8 ans, j'ai fait une formation développeur web au centre de formation IFOCOP paris 11, j'ai obtenu un diplôme de web master. J'ai été ensuite été recruté par la société EVOGUE en tant que formateur digital, je suis intervenu dans différents centres de formation en Île-de-France (IFOCOP, WEBFORCE3, NEXT, DORANCO, pôle universitaire de la Défense...) pendant 6 ans. J'ai ensuite voulu augmenter mes compétences, j'ai donc rejoint une agence web (DATAGEST) située à Issy-les-Moulineaux en tant que concepteur développeur web, j'ai dirigé de multiples projets en tant que chef de projet. Cela m'a beaucoup apporté, et j'ai acquis de nombreuses compétences.
        J'ai maintenant envie de partager mon expérience et mes acquis. Je souhaite de nouveau revenir dans le monde de la formation et du développement pour plusieurs raisons :
        J'aime le contact avec les étudiants, et je suis la preuve vivante qu'il est possible, au vu de mon parcours, de réussir dans ce métier à force de travail.
        J'aime transmettre, partager et motiver les étudiants. J'ai acquis, de mes six années d'expérience en tant que formateur, un tact et une pédagogie confirmée !
        Et je reviens encore plus fort avec mes compétences acquises récemment. J'ai tout simplement envie d'aider des personnes qui étaient dans le même cas que moi et de le faire travailler et progresser afin qu'ils puissent trouver leur voie dans le domaine du web.">
        <meta name="Keywords" content="éveloppeur, formateur, GLX, Grégory LACROIX, LACROIX, concepteur, webdesigner, design">
        <meta name="Subject" content="Graffeur">
        <meta name="Copyright" content="2023 - GLX - tous droits réservés">
        <meta name="Author" content="Grégory LACROIX">
        <meta name="Publisher" content="Grégory LACROIX">
        <meta name="Identifier-Url" content="https://gregory-lacroix.fr">
        <meta name="Reply-To" content="contact@gregory-lacroix.fr">
        <meta name="Revisit-After" content="1 day">
        <meta name="Robots" content="all">
        <meta name="Rating" content="general">
        <meta name="Distribution" content="global">
        <meta name="Geography" content="Gambais">
        <meta name="Category" content="photography">
        <meta property="og:title" content="GLX" />
        <meta property="og:description" content="Tout d'abord, j'ai fait une reconversion professionnelle dans le domaine du web il y a 8 ans, j'ai fait une formation développeur web au centre de formation IFOCOP paris 11, j'ai obtenu un diplôme de web master. J'ai été ensuite été recruté par la société EVOGUE en tant que formateur digital, je suis intervenu dans différents centres de formation en Île-de-France (IFOCOP, WEBFORCE3, NEXT, DORANCO, pôle universitaire de la Défense...) pendant 6 ans. J'ai ensuite voulu augmenter mes compétences, j'ai donc rejoint une agence web (DATAGEST) située à Issy-les-Moulineaux en tant que concepteur développeur web, j'ai dirigé de multiples projets en tant que chef de projet. Cela m'a beaucoup apporté, et j'ai acquis de nombreuses compétences.
        J'ai maintenant envie de partager mon expérience et mes acquis. Je souhaite de nouveau revenir dans le monde de la formation et du développement pour plusieurs raisons :
        J'aime le contact avec les étudiants, et je suis la preuve vivante qu'il est possible, au vu de mon parcours, de réussir dans ce métier à force de travail.
        J'aime transmettre, partager et motiver les étudiants. J'ai acquis, de mes six années d'expérience en tant que formateur, un tact et une pédagogie confirmée !
        Et je reviens encore plus fort avec mes compétences acquises récemment. J'ai tout simplement envie d'aider des personnes qui étaient dans le même cas que moi et de le faire travailler et progresser afin qu'ils puissent trouver leur voie dans le domaine du web." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.gregory-lacroix.fr/" />
        <meta property="og:image" content="https://www.gregory-lacroix.fr/images/screen.png" />
        <meta property="og:image:width" content="640" />
        <meta property="og:image:height" content="442" />

        <title>PORTFOLIO - Grégory LACROIX</title>                               
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/ms-icon-70x70.png') }}" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />

        <style>
        .portfolio .portfolio-item .portfolio-item-caption {
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.2s ease-in-out;
            opacity: 0;
            background-color: {{ custom.hoverLinkColor }} !important;
        }

        .portfolio .portfolio-item .portfolio-item-caption:hover {
            opacity: 0.8;
        }

        #mainNav .navbar-nav li.nav-item a.nav-link:hover {
            color: {{ custom.hoverLinkColor }} !important;
        }

        .bg-secondary {
            --bs-bg-opacity: 1;
            /*background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;*/
            background-color: {{ custom.navColor }} !important;
        }

        .bg-primary {
            --bs-bg-opacity: 1;
            /*background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;*/
            background-color: {{ custom.contentColor }} !important;
        }

        #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
            color: #fff;
            background: {{ custom.hoverLinkColor }};
        } 

        :root {
            --bs-link-hover-color: {{ custom.hoverLinkColor }};
        }

        .footer {
            padding-top: 5rem;
            padding-bottom: 5rem;
            background-color: {{ custom.footerColor }};
            color: #fff;
        } 

        .copyright {
            background-color: {{ custom.copyrightColor }};
            
        }
        </style>

        <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "portfolio",
            "url": "https://www.gregory-lacroix.fr/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://www.gregory-lacroix.fr/{search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
        </script>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">

                {# {% set siteCustom = controller('App\\Controller\\SiteController::siteCustom') %}
                {{ dump(siteCustom) }} #}

                <a class="navbar-brand rounded-circle bg-white p-3" href="#page-top"><img src="{{ asset('uploads/logos/' ~ custom.logoFile) }}" alt="" style="width: 70px;"></a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded rotate-hor-center" href="#portfolio">
                        <span class="rotate-hor-center">P</span><span>O</span><span>R</span><span>T</span><span>F</span><span>O</span><span>L</span><span>I</span><span>O</span>
                        </a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded rotate-hor-center" href="#about">À PROPOS</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded rotate-hor-center" href="#contact">CONTACT</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded rotate-hor-center" href="{{ path('app_google_analytics') }}">BACKOFFICE</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5 rounded-circle border scale-in-hor-center" src="{{ asset('uploads/photos/' ~ custom.photoFile) }}" alt="" style="width: 300px;">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0 focus-in-contract">Grégory LACROIX</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><img src="{{ asset('images/icone-gif/html.gif') }}" style="width: 50px !important;" alt="Messages" class="rounded"></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">{{ custom.skills }}</p>
            </div>
        </header>

    <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 focus-in-contract">Portfolio</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><img src="{{ asset('images/icone-gif/lister.gif') }}" style="width: 50px !important;" alt="Messages" class="rounded"></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    {% for website in websites %}
                        {# {{ dump(website) }} #}
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#{{ website.title }}">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{{ asset('uploads/screenshots/' ~ website.screenshotFile) }}" alt="..." />
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white focus-in-contract">À PROPOS</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><img src="{{ asset('images/icone-gif/info.gif') }}" style="width: 50px !important;" alt="Messages" class="rounded"></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    {# <div class="col-lg-4 ms-auto"><p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div> #}
                    <div class="">
                    {{ custom.about|raw }}
                    </div>
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="{{ asset('uploads/cv/' ~ custom.cvFile) }}" target="_blank">
                        <i class="fas fa-download me-2"></i>
                        Télécharger mon CV
                    </a>
                </div>
            </div>
        </section>
        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 focus-in-contract">Contactez-moi</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><img src="{{ asset('images/icone-gif/email.gif') }}" style="width: 50px !important;" alt="Messages" class=""></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control ps-2" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Nom et prénom</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Champ requit.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control ps-2" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">Champ requit.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Adresse Email non valide.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control ps-2" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Téléphone</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Champ requit.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control ps-2" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Champ requit.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Votre message a bien été envoyé!</div>
                                    {# To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a> #}
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <button class="btn btn-primary border-0 btn-xl disabled g-recaptcha" data-sitekey="6LdllKIlAAAAAJltQfdBdpMnCTlFpDN8PAOgbWD7" data-callback='onSubmit' data-action='submit' style="background-color: {{ custom.contentColor }} !important;" id="submitButton" type="submit">ENVOYER</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">OÙ ME TROUVER</h4>
                        <p class="lead mb-0">
                        {{ custom.location|raw }}  
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">AUTOUR DU WEB</h4>
                        <a class="btn btn-outline-light btn-social mx-1 rotate-diagonal-1" href="{{ custom.linkFacebook }}" target="_blank"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1 rotate-diagonal-1" href="{{ custom.linkTwitter }}" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1 rotate-diagonal-1" href="{{ custom.linkLinkedin }}" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        {# <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a> #}
                    </div>
                    <!-- Footer About Text-->
                    {# <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">À PROPOS DE FREELANCER</h4>
                        <p class="lead mb-0">
                            Freelance is a free to use, MIT licensed Bootstrap theme created by
                            <a href="http://startbootstrap.com">Start Bootstrap</a>
                            .
                        </p>
                    </div> #}
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; 2023 - Tous droits réservés</small></div>
        </div>
        <!-- Portfolio Modals-->
        <!-- Portfolio Modal 1-->
        {% for website in websites %}
        <div class="portfolio-modal modal fade" id="{{ website.title }}" tabindex="-1" aria-labelledby="{{ website.title }}" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <a href="{{ website.url }}" target="_blank" class="text-decoration-none"><h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ website.title }}</h2></a>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <a href="{{ website.url }}" target="_blank"><img class="img-fluid" src="{{ asset('uploads/screenshots/' ~ website.screenshotFile) }}" alt="{{ website.title }}" /></a>
                                    <!-- Portfolio Modal - Text-->
                                    <p class="my-4">{{ website.description }}</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Portfolio Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tasty Cake</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/cake.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Circus Tent</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/circus.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Controller</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/game.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 5-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Locked Safe</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/safe.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 6-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Submarine</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/submarine.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ asset('js/scripts.js') }}"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <script>

        function onSubmit(token) {
            document.getElementById("submitButton").submit();
        }

        $(document).ready(function () {    
            $('#submitButton').on('click', function(){
                var contact = $('#name').val();
                var email = $('#email').val();
                var phone = $('#phone').val();
                var message = $('#message').val();

                var param = {
                    contact: contact,
                    email: email,
                    phone: phone,
                    message: message
                }
                console.log(param);

                $.ajax({
                    method: "POST",
                    url: "{{ path('app_ajax_contact') }}",
                    data: {parameters: param},
                    dataType: 'json',  
                    async: true,  
                    success: function(reponse){
                        console.log(reponse);
                    },  
                    error : function(xhr, textStatus, errorThrown) {            
                        //alert('Ajax request failed.');  
                    } 
                });

                $('#contactForm').trigger("reset");
            });
        })
        </script>
    </body>
</html>
