{% extends 'layouts/base.admin.html.twig' %}

{% block title %}BACKOFFICE{% endblock %}

{% block body %}
<form method="post" class="col-12 col-sm-10 col-md-4 col-lg-3 col-xl-3 mx-auto">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.session.get('statutInactif') is not null %}
        <div class="col-12 text-center mx-auto mt-3 alert alert-danger disparition">
        {{ app.session.get('statutInactif')  }}
        </div>
    {% endif %}


    <h1 class="text-center my-5 focus-in-contract">Accès au BACKOFFICE</h1>

    <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
    #}

    <div class="mt-2">
        {# <button class="btn btn-dark g-recaptcha" data-sitekey="6Lf2T6IlAAAAAGgrK0qFBRlK-M5msnYBDJ_6fdcO" data-callback='onSubmit' data-action='submit' type="submit">
            Continuer
        </button> #}
        <button class="btn btn-dark" type="submit">
            Continuer
        </button>
    </div>
    <div class="text-center mt-3">
        <a href="" class="text-dark">Mot de passe oublié ?</a>
        {# <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a> #}
    </div>
</form>

<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
// function onSubmit(token) {
//     document.getElementById("submitButton").submit();
// }
</script>

{% endblock %}
