{% extends 'layouts/base.admin.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <p class="col-12 col-sm-10 col-md-8 col-lg-6 alert alert-{{ label }} text-center mx-auto disparition">{{ message }}</p>
        {% endfor %}
    {% endfor %}

    <h1 class="text-center my-5 focus-in-contract">Créer un compte administrateur</h1>
    <div class="col-12 col-sm-10 col-md-7 col-lg-5 col-xl-5 mx-auto">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.password, {
                label: 'Mot de passe'
            }) }}

            <button type="submit" class="btn btn-dark">Enregistrer</button>
        {{ form_end(registrationForm) }}
        </div>
{% endblock %}
