{% extends 'layouts/base.admin.html.twig' %}

{% block title %}BACKOFFICE | Portfolio personnalisation{% endblock %} 

{% block body %}

    <style>
    .vich-image a img{
        width: 250px;
    }
    </style>

    {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <p class="col-12 col-sm-10 col-md-8 col-lg-6 alert alert-{{ label }} text-center mx-auto disparition">{{ message }}</p>
        {% endfor %}        
    {% endfor %}

    <h1 class="text-center my-5 focus-in-contract">Personnaliser le portfolio</h1>
    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 mx-auto mb-5">
    {{ form_start(customForm) }}
        {{ form_row(customForm.navColor) }}
        {{ form_row(customForm.footerColor) }}
        {{ form_row(customForm.copyrightColor) }}
        {{ form_row(customForm.contentColor) }}
        {{ form_row(customForm.hoverLinkColor) }}
        {{ form_row(customForm.avatarColor) }}
        {{ form_row(customForm.skills) }}
        {{ form_row(customForm.about) }}
        {{ form_row(customForm.location) }}
        {{ form_row(customForm.logoFileVich) }}
        {{ form_row(customForm.photoFileVich) }}
        {{ form_row(customForm.cvFileVich) }}
        {{ form_row(customForm.linkFacebook) }}
        {{ form_row(customForm.linkTwitter) }}
        {{ form_row(customForm.linkLinkedin) }}
        {{ form_row(customForm.legaleNotice) }}

        <button type="submit" class="btn btn-dark">Enregistrer</button>
    {{ form_end(customForm) }}
    </div>

{% endblock %}
