{% extends 'layouts/base.admin.html.twig' %}

{% block title %}BACKOFFICE | Portfolio personnalisation{% endblock %} 

{% block body %}

    <style>
    .block-isActive{
        margin-top: 0 !important;
    }

    #gallery-admin_filter{
        margin-bottom: 10px !important;
    }

    .table-responsive{
        overflow-x: hidden;
    }

    #gallery-admin_length{
        margin-top: 5px !important;
    }
    </style>

    {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <p class="col-12 col-sm-10 col-md-8 col-lg-6 alert alert-{{ label }} text-center mx-auto disparition">{{ message }}</p>
        {% endfor %}
    {% endfor %}

    <h1 class="text-center my-5 focus-in-contract">Liste des websites</h1>
   {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <p class="col-12 col-sm-10 col-md-8 col-lg-6 alert alert-{{ label }} text-center mx-auto disparition">{{ message }}</p>
        {% endfor %}
    {% endfor %}

    <div class="table-responsive">
        <table id="gallery-admin" class="table table-striped text-center">
            <thead>
                <tr class="bg-secondary text-white">
                    <th class="text-center">TITRE</th>
                    <th class="text-center">DESCRIPTION</th>
                    <th class="text-center">URL</th>
                    <th class="text-center">SCREENSHOT</th>
                    <th class="text-center">STATUT</th>
                    <th class="text-center">EDIT</th>
                    <th class="text-center">SUPP</th>
                </tr>   
            </thead>
            <tbody>
            {% for portfolio in portfolios %}
                {# {{ dump(portfolio) }} #}
                <tr>
                    <td align="center">{{ portfolio.title }}</td>
                    <td align="center">{{ portfolio.description }}</td>
                    <td align="center"><a href="{{ portfolio.url }}" target="_blank">{{ portfolio.url }}</a></td>
                    <td align="center"><img src="{{ asset('uploads/screenshots/' ~ portfolio.screenshotFile) }}" alt="screenshotFile" style="width: 150px;"></td>
                    <td>         
                        <div class="form-check form-switch d-flex justify-content-center align-items-center block-isActive">
                            <input class="form-check-input isActive" type="checkbox" role="switch" id="isActive" name="isActive" value="{{ portfolio.id }}" {% if portfolio.isActive == true %}checked{% endif %}>
                        </div>
                    </td>
                    <td class="text-center">
                        <a href="{{ path('app_custom_portfolio_edit', {'id': portfolio.id}) }}" class="btn btn-secondary"><i class="fas fa-edit"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="" class="btn btn-danger" onclick="return confirm('Etes-vous sur de vouloir supprimer cette biographie ?');">
                        <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </table>
    </div>

    {% block javascripts %}

        <script src="{{ asset('JS/lightbox.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script>

        $(document).ready(function() { 
            $(".isActive").on('change', function() {
                if($(this).is(':checked')){
                    var param = {
                        id: $(this).val(),
                        statut: 1,
                        category: 'portfolio'
                    }
                }
                else{
                    var param = {
                        id: $(this).val(),
                        statut: 0,
                        category: 'portfolio'
                    }
                }

                $.ajax({

                    method: "POST",
                    url: "{{ path('admin_ajax_statut') }}",
                    data: {parameters: param},
                    dataType: 'json',  
                    async: true,  
                    success: function(reponse){
                        console.log(reponse);
                    },  
                    error : function(xhr, textStatus, errorThrown) {  
                        alert('Ajax request failed.');  
                    } 
                });
            });

            var table = new DataTable('#gallery-admin', {
                destroy: true,
                language: {
                    url: '{{ asset("datatable/french.json") }}',
                },
            });

            
        });

        </script>
        
    {% endblock %}

{% endblock %}
